<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font link -->
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&family=Merriweather:wght@300;400;700;900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/d92a2a2802.js" crossorigin="anonymous"></script>
    <!-- /Font link -->

    <!-- JavaScript -->
    <script src="/js/js.js"></script>
    <!-- /JavaScript -->

    <!-- CSS link -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- /CSS link -->

    <title>Desitec</title>
</head>
<body>

    <!-- Header -->
    <%- include('partials/header') %>
    <!-- /Header -->

    <!-- Main -->
    <div class="main">

        <!-- Filter -->
        <div class="filter">
            <div class="filter-info">
                <h1 class="title">Lista de usuarios</h1>
                <p>Total de resultados: <%= users.length %></p>
            </div>
            <div class="tools">
                <p>Filtrar: </p>
                <select name="filter-amount" class="filter-list" id="filter-list">
                    <option value="all" id="filter-option">Todos</option>
                    <option value="25" id="filter-option">1 a 25</option>
                    <option value="50" id="filter-option">1 a 50</option>
                    <option value="75" id="filter-option">1 a 75</option>
                    <option value="100" id="filter-option">1 a 100</option>
                </select>
            </div>
        </div>
        <!-- /Filter -->

        <!-- Users - obtained via API -->
        <div class="user-list">
                <% users.data.forEach((e, counter) => { %>
                    <div class="card <%= e.id %>" id="card">
                        <section class="user-card">
                            <a href="/users/<%= e.id %>">
                                <div class="card-id">
                                    <span id="identifier"><%= counter %></span>
                                </div>
                                <div class="card-info">
                                    <h2><%= e.firstName %></h2>
                                    <p><%= e.lastName %></p>
                                </div>
                            </a>
                        </section>
                    </div>
                <% }) %>
        </div>
        <!-- /Users -->

    </div>
    <!-- /Main -->

    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- /Footer -->
</body>
</html>